* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../img/pattern.png');
    background-size: auto 200%;
    background-color: #4d92ff;

    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 10px;
}

header img {
    height: 40px;
}

main {
    padding-left: 8px;
}
.grey-text {
    color: grey;
}

.date {
    font-size: 12px;
}

.paragrafo, .list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    padding-inline-start: 40px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #149ce6;
    color: white;
}

.row-blue {
    background-color: #b2def2;
}

.half-width {
    width: 50%;
}

.footer-img {
    width: 280px;
    height: 170px;
    background-size: cover;
    margin-bottom: 10px;
    padding: 15px;
    color: white;
}

.footer-img1 {
    background-image: url('../img/monitor.jpg');
}

.footer-img2 {
    background-image: url('../img/graph.jpg');
}