* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../img/pattern.png');
    background-size: auto 200%;
    background-color: #4d92ff;

    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 10px;
}

header img {
    height: 40px;
}

main {
    padding-left: 8px;
}
.grey-text {
    color: grey;
}

.date {
    font-size: 12px;
}

.paragrafo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    padding-inline-start: 40px;
}